.highscoreImage {
  position: relative;
}

.highscoreMedal {
  position: absolute;
  bottom: -5px;
  right: -5px;
  border-radius: 100%;
  background-color: white;
  display: table;
  text-align: center;
}

.highscoreIcon {
  display: table-cell;
  vertical-align: middle;
}

.gold {
  border: solid 2px darkgoldenrod;
  color: darkgoldenrod;
  background-color: gold;
  width: 35px;
  height: 35px;
}

.silver {
  border: solid 2px gray;
  color: gray;
  background-color: silver;
  width: 30px;
  height: 30px;
}

.bronze {
  border: solid 2px brown;
  color: brown;
  background-color: sandybrown;
  width: 26px;
  height: 26px;
}

.medal {
  border: solid 1px blue;
  color: blue;
  background-color: lightblue;
  width: 22px;
  height: 22px;
}

.blue {
  color: blue;
}
